@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/font-awesome/css/font-awesome.min.css";
@import "../../node_modules/flag-icon-css/css/flag-icon.css";
@import "../../node_modules/react-select/dist/react-select.css";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;
  padding-top: 25px;
  background-color: #625df5;
}

a {
  color: inherit;
}


/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.addUserSection {
  background-color: rgba(50, 50, 50, .3);
  padding: 40px;
  color: white;
  border-radius: 3px;

}

.fa{
  cursor: pointer;
  &:hover{
    color: white;
  }
}

.card-columns{
  .card{
    color: rgb(50, 50, 50);
    background-color: #fff;
    border: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    .text-muted {
      padding: 10px;
      border-radius: 40px;
    }
  }
}

.removeIcon{
  color: red;
}

.removeIcon:hover{
  color: red;
}

small.text-muted {
  font-size: 15px;
  background: #F56A00;
  color: #fff!important;
  padding: 0px;
}

a.profile {
  border: 1px solid #fff;
  padding: 5px 10px;
  margin-left: 10px;
  text-transform: uppercase;
}

a.profile:hover {
  color: #625df5;
  text-decoration: none;
  background: #fff;
  transition: .3s;
}
